@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700;800;900&display=swap');

*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    place-items: center;
    background: linear-gradient(to bottom, #000000 25%, #d5293c 50%);
    background-repeat: no-repeat;
    background-size: cover;
}


.header{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.img{
    display: flex;
    justify-content: center;
    margin: 50px auto;
}


img{
    margin: 0 auto;
}

h3{
    margin-top: -50px;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    font-family: 'Heebo', sans-serif;
    color: white;
}

span{
    color: #d5293c;
}

p{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    background: radial-gradient(circle at center, rgba(122, 48, 48, 0.17), #791723);
    box-shadow: 0 0 5px black;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

button{
    padding: 15px 30px 15px 30px;
    width: 100%;
    max-width: 100%;
    margin-top: 100px;
    border-radius: 5px;
    background: radial-gradient(circle at center, red, darkred);
    box-shadow: 0 1px 10px #ffffff;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Heebo', sans-serif;
}

.firstValue, .secondValue{
    padding: 10px;
    margin-top: 50px;
    color: white;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

button:disabled{
    background: grey;
    box-shadow: none;
}


.aviatorBG{
    margin-top: 30px;
    display: block;
    width: 430px;
    max-width: 100%;
}


.time01{
    color: white;
    position: absolute;
    top: 103%;
    left: 40%;
    font-size: 30px;
    text-shadow: 0 0 10px white;
    animation: grow 3s 1 normal forwards;
}

.time02{
    color: white;
    position: absolute;
    top: 148%;
    left: 40%;
    font-size: 30px;
    text-shadow: 0 0 10px white;
    animation: grow 3s 1 normal forwards;
}

@keyframes grow{
    0% {
        transform: scale(1.0);
    }

    100%{
        transform: scale(1.4);
    }

}



@media only screen and (min-width: 390px) and (min-height: 844px){
    .time01{
        top: 100%;
    }
    .time02{
        top: 136%;
    }
}


@media only screen and (min-width: 428px) and (min-height: 932px){
    .time01{
        top: 93%;
    }
    .time02{
        top: 127%;
    }
}

